$primary-color: #EAECDE;
$secondary-color : #F7F8F2;
$secondary-dark-color :#7A7D6C; 



body{
    margin: 0;
}

.black-bar{
    background-color: black;
    color: gainsboro;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
    padding: 7px 0 7px 0px;
}

.top-bar{
    
}