$primary-color: #EAECDE;
$secondary-color : #F7F8F2;
$secondary-dark-color :#7A7D6C; 

@mixin inline-list{
    display: flex;
    ul{
        list-style-type: none;
        margin: 0;
        li {
            display: inline-block;
           
            a{
                text-decoration: none;
                color: black;
                font-family: 'Montserrat', sans-serif;
                text-align: center;             
            }
        }
    }
}
@mixin black-bar {
    background-color: black;
    color: gainsboro;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
    padding: 7px 0 7px 0px;
}

body{
    margin: 0;
}
h5{
    margin: 0;
}

.shipping-bar{
    @include black-bar;
}

.top-bar{
    background-color: $secondary-color;
    padding-bottom: 0.5vh;
    padding-top: 0.3vh;

    .top-bar-items-container{
        width: 70%;
        margin: auto;
        display: flex;
        #logo{
            margin-top: 1vh;
        }
        .right-container{
             width :100%;
            .contact-container{
              justify-content: flex-end;
               display: flex;
                #address{
                    margin-right: 3vw;
                }
                p{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 0.8rem;
                    font-weight: 600;
                }
            }
            .search-link-container{
                display: flex;
                justify-content: flex-end;
                
                .search-bar-container{
                    margin-top: 2vh;
                    display: flex;
                    height: 45px;
                    input{
                        width: 16vw;
                        padding: 1vh 0.5vw 1vh 0.5vw;
                        margin-right: 1vw;
                        font-size: 1rem;
                        font-family: 'Montserrat', sans-serif;
                     }  
                }     
                .quick-links{
                    @include inline-list;
                    ul{
                        margin-bottom: 1.5vh;
                        li{
                            padding-left: 2vw;
                        }
                    }
                    #my-account{
                        margin-left: 0.6vw;
                    }
                }
            }
        }   
    }
}
nav{

    @include inline-list;

    ul{
        padding:0;
        .space{
            width: 5vw;
            height: auto;
            background-color: $primary-color;
        }
    }

 
    .nav-item{
        align-content: center;
        a{ 
            padding:0.5vh 2vw 0.5vh 1vw;
            display: flex;
            img{
                height: 44px;
                width: 44px
            }
            #rug{
                width:64px
            }
            h5{
                padding-top: 1.5vh; 
                padding-left: 0.3vw;
            }
           
        }
    }
    .nav-link{
        background-color: $primary-color;
    }
    .nav-contact{
        background-color: black;
       a{
           
           h5{
               color: white;
           }
       }
    }
}

footer{
    .signup-news{
        @include black-bar;
    }
}


